* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
}

body {
	width: 90%;
	margin: 0 auto;
}

main {
	overflow: auto;
}

nav, #feature, footer {
	margin: 1%;
}
			
.column1, .column2, .column3 {
	width: 48%;
	float: left;
	margin: 1%;
	background-color: tomato;
}

nav, footer {
	background-color: black;
	padding: 10px 0;
}

#feature {
	background-color: lightblue;
}

#feature, article {
	height: 250px;
	margin-bottom: 1%;
}