body {

	width: 80%;
	margin: auto;
	background-color: #FFFBEB;
}

#blue {
	margin-top: 2%;
	background-color: #A7D2CB;
	width: 94%;
	padding: 3%;

}

#groceries {
	background-color: skyblue;
	width: 90%;
	padding: 5%;
	margin-top:2%;
	float: left;
	
}

#deli {
	background-color: skyblue;
	width: 90%;
	padding: 5%;
	margin-top:2%;
	float: left;
}

#liquor {
	background-color: skyblue;
	width: 90%;
	padding: 5%;
	margin-top:2%;
	float: left;
}

#cigarettes {
	background-color: skyblue;
	width: 90%;
	padding: 5%;
	margin-top:2%;
	float: left;

}


#sblack {
	background-color: black;
	width: 98%;
	padding: 1%;
	margin-top:2%;
	float: right;

}
}
