h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 65px;
	color: #874C62;
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

ul {
	margin: 1%;
	display: inline;
	font-family: 'Palanquin', sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: bold;
}

main {
	overflow: auto;
	margin-bottom: 30px;
}

nav {
	margin: 1%;
	background-color: #A7D2CB;
	border: 2px solid #5DB1A3;
	color: white;

}

body {
	width: 90%;
	margin: auto;
	background-color: #FFFBEB;
	box-sizing: border-box;
	font-color: #874C62;
}

a.class1 {
	color: white;
	text-decoration: none;
}

a.class2 {
	color:#874C62;
	text-decoration: none;
}

a.class3 {
	color:none;
	text-decoration: none;
}

#groceries {
	background-color: white;
	border: 5px solid #874C62;
	width: 97%;
	padding: 1%;
	margin-top: 2%;
	float: center;
	font-family: 'Alegreya Sans', sans-serif;
	color: #874C62;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	background: url(../images/groceries.png);
	background-size: 700px;

}

#deli {
	background-color: white;
	border: 5px solid #874C62;
	width: 97%;
	padding: 1%;
	margin-top:2%;
	float: center;
	font-family: 'Alegreya Sans', sans-serif;
	color: #874C62;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	background: url(../images/delicounter.png);
	background-size: 700px;
}

#liquor {
	background-color: white;
	border: 5px solid #874C62;
	width: 97%;
	padding: 1%;
	margin-top:2%;
	float: center;
	font-family: 'Alegreya Sans', sans-serif;
	color: #874C62;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	background: url(../images/shelfliquor.png);
	background-size: 500px;
}

#cigarettes {
	background-color: white;
	border: 5px solid #874C62;
	width: 97%;
	padding: 1%;
	margin-top:2%;
	float: center;
	font-family: 'Alegreya Sans', sans-serif;
	color: #874C62;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	background: url(../images/cigarettesshelf.png);
	background-size: 300px;

}
