body {

	width: 80%;
	margin: auto;
	background-color: #FFFBEB;
}

#blue {
	margin-top: 2%;
	background-color: #A7D2CB;
	width: 94%;
	padding: 3%;

}

#blue {
	background-color: skyblue;
	width: 80%;
	padding: 10%;
	margin-top:2%;
	float: left;
	
}

#orange {
	background-color: orange;
	width: 28%;
	padding: 10%;
	margin-top:2%;
	float: left;
	
}

#green {
	background-color: green;
	width: 28%;
	padding: 10%;
	margin-top:2%;
	float: right;

}

#sblack {
	background-color: black;
	width: 98%;
	padding: 1%;
	margin-top:2%;
	float: right;

}
}
